<!DOCTYPE html> 
	<html> 
	<head> 
	<title>V&amp;A</title> 
	<!--<script src="http://localhost:35729/livereload.js"></script>--> 
	<!--<script src="http://localhost:35729/livereload.js"></script> 
	<link rel="stylesheet" media="all" href="../static/header-try.css" />
<!-asjlfkdjsafsjf;lkdsajfakl is gabor looking --> 
	
	
	
	<script src="../static/js/jquery-1.11.2.js"></script> 
	<!--<script src="../static/js/signUp.js"></script> -->
	<style> 
	.fdb-block { 
	border-bottom: solid 1px #EEE; 
	} 
	#navigator { 
	position: sticky; 
	top: 0; 
	z-index: 1000; 
	} 
	
	#navigator .navbar-toggler-icon { 
	background-image: url("data:image/jpg+xml;charset=utf8,%3Cjpg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/jpg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/jpg%3E"); 
	} 
	
	@media (max-width: 720px) { 
	#navigator { 
	border-bottom: 1px solid #ccc; 
	} 
	} 
	
	#navigator a { 
	font-size: 14px; 
	} 
	
	#navigator + section { 
	padding: 250px 0; 
	} 
	</style> 
	</head> 
	<body> 
	<header class = "header-1 header-over header-fixed"> 
	<div class="container"> 
	<nav class="navbar navbar-expand-lg"> 
	<a class="navbar-brand" href="#"> 
	<img src="../static/topdel_logo.png" height="30" alt="image"> 
	</a> 
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav13" aria-controls="navbarNav13" aria-expanded="false" aria-label="Toggle navigation"> 
	<span class="navbar-toggler-icon"></span> 
	</button> 
	
	<div class="collapse navbar-collapse" id="navbarNav13"> 
	<ul class="navbar-nav mr-auto"> 
	<li class="nav-item active"> 
	<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> 
	</li> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">About</a> 
	</li> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">Pricing</a> 
	</li> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">Testimonials</a> 
	</li> 
	</ul> 
	
	<ul class="navbar-nav justify-content-end ml-auto"> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">Paper</a> 
	</li> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">Contact</a> 
	</li> 
	
	</ul> 
	
	<a class="btn btn-empty ml-md-3" href="#">Button</a> 
	</div> 
	</nav> 
	</div> 
	</header> 
	<section class="fdb-block" style="background-image: url(../static/crop3_alt_wide_1.jpg); height:100vh;" class="row "> 
	<div class="container" > 
	<div id = "topcontent" class="row justify-content-start"> 
	<div class="col-12 col-sm-10 col-md-8 text-center text-sm-left" > 
	<h1>Topic Modeling with LDA</h1> 
	
	
	<a class="btn ml-sm-3 mr-3 mr-sm-0 mt-3 mt-sm-0" href="#add">Try it out!</a> 
	</p> 
	
	</div> 
	</div> 
	</div> 
	</section> 
	<!--<section class="fdb-block p-2" id="navigator"> 
	<div class="container-fluid"> 
	<nav class="navbar navbar-expand-md"> 
	<button class="navbar-toggler mr-auto ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav0" aria-controls="navbarNav0" aria-expanded="false" aria-label="Toggle navigation"> 
	<span class="navbar-toggler-icon"></span> 
	</button> 
	<div class="collapse navbar-collapse mt-2 mt-md-0" id="navbarNav0"> 
	<p class="m-auto"> 
	<a class="btn btn-empty m-1" href="call_to_action.html">Call to action</a> 
	<a class="btn btn-empty m-1" href="contacts.html">Contacts</a> 
	<a class="btn btn-empty m-1" href="contents.html">Contents</a> 
	<a class="btn btn-empty m-1" href="features.html">Features</a> 
	<a class="btn btn-empty m-1" href="footers.html">Footers</a> 
	<a class="btn btn-empty m-1" href="forms.html">Forms</a> 
	<a class="btn btn-empty m-1" href="headers.html">Headers</a> 
	<a class="btn btn-empty m-1" href="pricings.html">Pricings</a> 
	<a class="btn btn-empty m-1" href="teams.html">Teams</a> 
	<a class="btn btn-empty m-1" href="testimonials.html">Testimonials</a> 
	</p> 
	</div> 
	</nav> 
	</div> 
	</section>--> 
	<section id = "add" class="fdb-block pb-0" style="background-image: url(../static/bg_3.jpg)"> 
	<div class="container"> 
	<div class="row text-center justify-content-center"> 
	<div class="col-12 col-md-8 col-lg-7"> 
	<h1>Choose your text</h1> 
	<p class="text-h3">add stuff here</p> 
	
	
	
	
	</div> 
	</div> 
	<div class="row-50"> 
	</div> 
	<div class="row justify-content-center"> 
	<div class="col-12 col-md-8 col-lg-7"> 
	<!--<h2>Or...</h2>--> 
	<form method = "post" name = "form2" id = "form2"> 
	<div class="row"> 
	<div class="col"> 
	<label>Enter URL</label> 
	<input id = "input-url" name ="input-url" type="text" class="form-control"> 
	</div> 
	</div> 
	<div class="row mt-4"> 
	<div class="col text-right"> 
	<a id = "submit" name = "submit" class="btn btn-empty ml-md-1">Submit</a> 
	</div> 
	</div> 
	<!--<a id = "send" name = "send" class="btn btn-empty btn-round">I'm done!</a>--> 
	</form> 
	<div id = "urls"></div> 
	</div> 
	</div> 
	<div class="row-100"></div> 
	</div> 
	</section> 
	<footer class="fdb-block footer-small"> 
	<div class="container"> 
	<div class="row text-center align-items-center"> 
	<div class="col-12 col-lg-2 text-lg-left"> 
	<img alt="image" src="../static/vandana_logo.png" height="40"> 
	</div> 
	
	<div> 
	<ul class="nav justify-content-center"> 
	<li class="nav-item"> 
	<a class="nav-link active" href="#">Home</a> 
	</li> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">About</a> 
	</li> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">Privacy Policy</a> 
	</li> 
	<li class="nav-item"> 
	<a class="nav-link" href="#">Terms</a> 
	</li> 
	
	</ul> 
	</div> 
	
	<div class="col mt-4 mt-md-0 text-center text-md-right"> 
	<a class="btn btn-empty ml-md-3" href="#">Back to top</a> 
	</div> 
	</div> 
	
	<div class="row mt-4"> 
	<div class="col text-center"> 
	&copy; 2018 V&amp;A. All Rights Reserved. 
	</div> 
	</div> 
	</div> 
	</footer> 
	
	<!---extra --> 
	<!--<script src="yikes.js"--> 
	
	
	</body> 
	</html>