<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Wikipedia Parser</h3>
        </div>
 
        <div class="jumbotron" style="border-radius:25px;">
            <form method = "POST" name = "form2" id = "form2">
                <input id = "input-url" name ="input-url" type="text" class="form-control" autofocus autocomplete="off">
                <!-- <input oninput="check()" type="text" name="answers" id="answers" disabled autocomplete="off" autofocus> -->
            </form>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
            </div>
                <h2>Output</h2>
                {{output}}
            <div class="col-lg-6">
            </div>
        </div>
 
    </div>
</body>
 
</html>